{% sw_extends '@Storefront/storefront/block/cms-block-group/cms-block-group-dynamic.html.twig' %}

{% block cms_block_group_dynamic_content %}
    {% set activeTabIndex = block.customFields.additionalSettings.activeIndex %}

    {% block cms_block_tabs %}
        <div class="cms-tabs card card-tabs">
            {% block cms_block_tabs_header %}
                <div class="card-header">
                    {% block cms_block_tabs_header_navTabs %}
                        <ul class="nav nav-tabs" 
                            id="tab{{ currentBlockId }}-tab" 
                            role="tablist"
                        >
                            {% for panelConfig in panelConfigs %}
                                {% block cms_block_tabs_header_navTabs_item %}
                                    <li class="nav-item" role="presentation">
                                        {% block cms_block_tabs_header_navTabs_link %}
                                            <a class="nav-link{% if loop.index == activeTabIndex %} active{% endif %}"
                                                id="tab{{ currentBlockId }}-{{ panelConfig.slot }}-tab" 
                                                data-toggle="tab" 
                                                data-target="#tab{{ currentBlockId }}-{{ panelConfig.slot }}" 
                                                type="button" 
                                                role="tab" 
                                                aria-controls="tab{{ currentBlockId }}-{{ panelConfig.slot }}" 
                                                aria-selected="{% if loop.index == activeTabIndex %}true{% else %}false{% endif %}"
                                            >
                                                <span>{{ panelConfig.label }}</span>
                                            </a>
                                        {% endblock %}
                                    </li>
                                {% endblock %}
                            {% endfor %}
                        </ul>
                    {% endblock %}
                </div>
            {% endblock %}

            {% block cms_block_tabs_body %}
                <div class="card-body">
                    {% block cms_block_tabs_content %}
                        <div class="tab-content" 
                            id="tab{{ currentBlockId }}-tabContent"
                        >
                            {% for panelConfig in panelConfigs %}
                                {% block cms_block_tabs_panel %}
                                    <div class="tab-pane fade{% if loop.index == activeTabIndex %} show active{% endif %}"
                                        id="tab{{ currentBlockId }}-{{ panelConfig.slot }}" 
                                        role="tabpanel" 
                                        aria-labelledby="tab{{ currentBlockId }}-{{ panelConfig.slot }}-tab"
                                    >
                                        {% block cms_block_tabs_panel_subBlocks %}
                                            {% sw_include "@Storefront/storefront/section/cms-section-blocks.html.twig" with {
                                                blocks: panelConfig.subBlocks,
                                                sectionBlocks: section.blocks,
                                                parentBlockId: currentBlockId
                                            } %}
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                            {% endfor %}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
