{% sw_extends '@Storefront/storefront/block/cms-block-group/cms-block-group-dynamic.html.twig' %}

{% block cms_block_group_dynamic_content %}
    {% block cms_block_tabs %}
        <div class="cms-tabs card card-tabs">
            {% block cms_block_tabs_header %}
                <div class="card-header">
                    {% block cms_block_tabs_header_navTabs %}
                        <ul class="nav nav-tabs" id="tab{{ currentBlockId }}" role="tablist">
                            {% for panelConfig in panelConfigs %}
                                {% block cms_block_tabs_header_navTabs_item %}
                                    <li class="nav-item" role="presentation">
                                        {% block cms_block_tabs_header_navTabs_link %}
                                            <a class="nav-link{% if loop.index == block.customFields.activeIndex %} active{% endif %}"
                                                id="tab{{ currentBlockId }}{{ panelConfig.slot }}" 
                                                data-toggle="tab" 
                                                data-target="#{{ currentBlockId }}{{ panelConfig.slot }}" 
                                                type="button" 
                                                role="tab" 
                                                aria-controls="{{ currentBlockId }}{{ panelConfig.slot }}" 
                                                aria-selected="{% if loop.index == block.customFields.activeIndex %}true{% else %}false{% endif %}"
                                            >
                                                <span>{{ panelConfig.label }}</span>
                                            </a>
                                        {% endblock %}
                                    </li>
                                {% endblock %}
                            {% endfor %}
                        </ul>
                    {% endblock %}
                </div>
            {% endblock %}

            {% block cms_block_tabs_body %}
                <div class="card-body">
                    {% block cms_block_tabs_content %}
                        <div class="tab-content" id="tab{{ currentBlockId }}Content">
                            {% for panelConfig in panelConfigs %}
                                {% block cms_block_tabs_panel %}
                                    <div class="tab-pane fade{% if loop.index == block.customFields.activeIndex %} show active{% endif %}"
                                        id="{{ currentBlockId }}{{ panelConfig.slot }}" 
                                        role="tabpanel" 
                                        aria-labelledby="tab{{ currentBlockId }}{{ panelConfig.slot }}"
                                    >
                                        {% block cms_block_tabs_panel_subBlocks %}
                                            {% for block in panelConfig.subBlocks %}
                                                {% sw_include "@Storefront/storefront/section/cms-section-block-container.html.twig" with {
                                                    sectionBlocks: sectionBlocks,
                                                    parentBlockId: currentBlockId
                                                } %}
                                            {% endfor %}
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                            {% endfor %}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
